@model List<EmployeesSite.Models.EmployeeEntry>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Employees</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <th>@employee.Name</th>
            <th>@employee.Age</th>
        </tr>
    }
    t
</table>
</body>
</html>